
.root {
    -fx-background-color: #262626;
}

.label {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}


.button {
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-padding: 8px 18px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 3, 0.7, 0, 2);
}


#confirmSaleButton {
    -fx-background-color: linear-gradient(to bottom, #e60000, #cc0000);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0.7, 1, 1);
}


#undoSaleButton {
    -fx-background-color: linear-gradient(to bottom, #009933, #007a29);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0.7, 1, 1);
}


#priceClearButton {
    -fx-background-color: linear-gradient(to bottom, #ff9900, #e68a00);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0.7, 1, 1);
}


.text-field {
    -fx-background-radius: 20;
    -fx-background-color: #666666;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
}


.text-field:focused {
    -fx-background-color: #808080;
    -fx-border-color: #56d774;
    -fx-border-radius: 20;
    -fx-border-width: 2px;
}


.button:hover {
    -fx-opacity: 0.85;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0.7, 1, 1);
}


.tooltip {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-background-radius: 5;
    -fx-padding: 5px;
}

